**/tags
**/inc/tags
**/src/tags
**/control/out/
**/control/obj/
**/control/lib/
**/rgb-if/out/
**/rgb-if/obj/
**/rgb-if/lib/
**/rgb-if/setenv
**/.settings/
**/.project
**/.cproject
**/Debug/
**/Release/
